@import "tailwindcss";

/* Animación global */
@theme {
  @keyframes fadeIn {
    from { 
      opacity: 0; 
      transform: translateY(10px); 
    }
    to { 
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  --animate-fade-in: fadeIn 0.5s ease-out forwards;
}

/* Scroll más lindo */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}